<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><b>MyDsceCalc</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Calculate-CO <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>-->
<nav class="navbar ">
  <div class="container-fluid ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span style="font-size:16px;color:#DF691A;"> Menu <i class="fa fa-bars" aria-hidden="true"></i> </span>

      </button>
      <a class="navbar-brand" href="http://dsceapp.me">DSCE Calci</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://dsceapp.me">Home</a></li>

        <li><a href="http://127.0.0.1:5000/">Calculate-CO</a></li>
        <li><a href="http://dsceapp.me/about">About</a></li>
        <li><a href="http://dsceapp.me/contact">Contact</a></li>
      </ul>

    </div>
  </div>
</nav>